.flex-container {
  background-color: rgb(190, 190, 231);
}

/* Flex Container 1 */

.flex-container-1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

/* Flex Container 2 */
.flex-container-2 {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: right;
}

/* Flex Container 3 */
/* use height: 400px; on the container */
.flex-container-3 {
  height: 400px;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  justify-content: center;
}

/* Flex Container 4 */
.flex-container-4 {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
  justify-content: center;
}

/* Flex Container 5 */
.flex-container-5 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
}

/* Flex Container 6 */

.flex-container-6 .flex-item {
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

/* use height: 300px; on the container */
